<body>
  <div class="container mt-5">
    <div class="forgot-pwd mx-auto mt-10" style="width: 28rem;">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">RESET PASSWORD</h4>
        <h6 class="card-title mt-6">Please enter your email address to request a password reset.</h6>

        <div class="formGroup mt-5">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="formGroup mt-5">
          <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>

        <div class="redirectToLogin mt-3" style="text-align: center;">
          <span>Go back to ? <a class="redirect" routerLink="/sign-in">Log In</a></span>
        </div>



      </div>
    </div>
  </div>
</body>










<!-- <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Reset Password</h3>

        <p class="text-center">Please enter your email address to request a password reset.</p>

        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div>


        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>

      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
      </div>

    </div>
  </div>
 -->
