<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="imgbg">
    <img src="assets/images/contactbg.png" alt="" class="newsbg">
  </div>

  <div class="container animated fadeIn">
    <div class="row">
      <h1 class=" m-3 header-title"> Contact </h1>
      <hr>
      <div class="col-sm-12" id="parent">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <iframe width="100%" height="400px;" frameborder="0" style="border:0"
            src="https://maps.google.com/maps?width=100%&amp;height=300&amp;hl=en&amp;coord=53.2734,-7.77832031&amp;q=Constituci%C3%B3n%203098%2C%20Santa%20Mar%C3%ADa%2C%2064650%20Monterrey%2C%20N.L.+(Softtel)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
            href="https://www.maps.ie/coordinates.html">gps coordinates finder</a></iframe>
          </div>
          <div class="col-sm-6">
            <div class="row">
                <ul class="social-network social-circle align-middle center-block container float-left">
                  <li class="m-1 col-sm-3 col-md-4 col-lg-3"><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li class="m-1 col-sm-3 col-md-4 col-lg-3"><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li class="m-1 col-sm-3 col-md-4 col-lg-3"><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row justify-content-md-center">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="box">
            <div class="icon">
              <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              <div class="info">
                <h3 class="title mt-4">MAIL & WEBSITE</h3>
                <p>
                  <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp gondhiyahardik6610@gmail.com
                  <br>
                  <br>
                  <i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.hardikgondhiya.com
                </p>
              </div>
            </div>
            <div class="space"></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="box">
            <div class="icon">
              <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
              <div class="info">
                <h3 class="title mt-4 ">CONTACT</h3>
                <p>
                  <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-9624XXXXX
                  <br>
                  <br>
                  <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-756706XXXX
                </p>
              </div>
            </div>
            <div class="space"></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="box">
            <div class="icon">
              <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
              <div class="info ">
                <h3 class="title mt-4">ADDRESS</h3>
                <p>
                  <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp 15/3 Junction Plot
                  "Shree Krishna Krupa", Rajkot - 360001.
                </p>
              </div>
            </div>
            <div class="space"></div>
          </div>
        </div>

      </div>
    </div>

</body>
