<body class="bg-light">
    <section class="container" *ngIf="displayName; else Loading">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <app-sidebar-dashadmin></app-sidebar-dashadmin>
        </div>
    
        <div class="card border-white shadow-sm rounded p-3 my-5 rounded-lg col-sm-12 col-md-7 mt-3 mb-4">
            <div class="pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Admin Profile</h1>
            </div>
            {{isAdmin}}
            <div class="container-fluid" class="p-0">
            <div class="row p-1">
                <div class="col-sm-12 col-md-6 col-lg-5 align-self-center">
                  <img class="align-self-md-start align-self-center mr-2 img-thumbnail rounded-circle img" [src]="photoURL"
                     id="profile-photo">
                  </div>
                  <div class="p-2 col-sm-12 col-md-6 col-lg-7 media-body">
                    <h1>Hello: <strong>{{displayName}}</strong></h1>
                    <p>Username: <strong>@{{userName}}</strong></p>
                    <p>Email: <strong>{{email}}</strong></p>
                    <p>Bio: <strong>{{status}}</strong></p>
                  </div>
            </div>
            </div>
          </div>
    
        </div>
      </section>
  </body>
  <ng-template #Loading>
    <app-loading></app-loading>
  </ng-template>

