<body>
    <section class="sabout">
        <div class="container">
            <div class="row align-items-center">
                <article>
                    <div class="col-10 whitebg mx-auto">
                        <div class="row"><h2>Staff</h2></div>
                        <div class="row">
                            <p class="mx-4">Contamos con servicios integrales en el ámbito de la belleza y estética, con especial 
                                preocupación en el uso de productos orgánicos, en la mayor medida posible, para bienestar de nuestros
                                clientes y del planeta.
                                Trabajamos con productos de alta calidad, entregando productos de elaboración que reflejan un equilibrio 
                                consciente de sustancia, estilo, naturaleza y espíritu.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <section class="ourstaff">
        <div class="container">
            <div class="row m-5">
                <div class="stff col-sm m-2 p-2">
                    <div class="row mx-auto">
                        <img src="assets/images/staff_1.jpg" alt="" class="staffimg m-3">
                    </div>
                        <div class="row"><h5 class=" mx-auto">Sofia Villarreal</h5></div>
                        <div class="row"><p class="mx-auto pro">Manicurist</p></div>
                        <div class="row"><div class=" divider mx-auto"></div></div>
                        <div class="row pro"><p class="mx-auto">email@polisoft.com</p></div>
                </div>

                <div class="stff col-sm m-2 p-2">
                    <div class="row mx-auto">
                        <img src="assets/images/staff_2.jpg" alt="" class="staffimg m-3">
                    </div>
                    <div class="row"><h5 class=" mx-auto">María Espinoza</h5></div>
                    <div class="row"><p class="mx-auto pro">Manicurist</p></div>
                    <div class="row"><div class=" divider mx-auto"></div></div>
                    <div class="row pro"><p class="mx-auto">email@polisoft.com</p></div>
                </div>

                <div class="stff col-sm m-2 p-2">
                    <div class="row mx-auto">
                        <img src="assets/images/staff_3.jpg" alt="" class="staffimg m-3">
                    </div>
                    <div class="row"><h5 class=" mx-auto">Paola Rodriguez</h5></div>
                    <div class="row"><p class="mx-auto pro">Manicurist</p></div>
                    <div class="row"><div class=" divider mx-auto"></div></div>
                    <div class="row pro"><p class="mx-auto">email@polisoft.com</p></div>

                </div>
            </div>
        </div>
    </section>
</body>