<body>
    <section>
        <div class="imgbg">
            <img src="assets/images/newsbg.png" alt="" class="newsbg">
        </div>
        
        <div class="container">
            <div class="row"><h2>News</h2></div>
            <div class="row">
                <div class="col-6">

                    <div class="row">
                        <div class="col-6">
                            <img src="" alt="" class="products">
                        </div>
                        <div class="col-6">
                            <h5></h5>
                            <p class="price"></p>
                            <p class="descipt"></p>
                        </div>
                    </div>

                </div>
                
                <div class="col-6">

                    <div class="row">
                        <div class="col-6">
                            <img src="" alt="" class="products">
                        </div>
                        <div class="col-6">
                            <h5></h5>
                            <p class="price"></p>
                            <p class="descipt"></p>
                        </div>
                    </div>

                </div>
            </div>

            <section class="scndrow">

            </section>
            
        </div>
    </section>
</body>
