<body>
  <section>
      <div class="imgbg">
          <img src="assets/images/newsbg.png" alt="" class="newsbg">
      </div>
      <div class="container">
          <div class="row"><h2>News</h2></div>
          <div class="row">
              <div class="col-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="assets/images/news_st1.png" class="card-img products" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title ">Aplicacion de uñas de Gel</h5>
                          <p class="card-text price">$ 100.00</p>
                          <p class="card-text descript">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="col-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="assets/images/news_st2.PNG" class="card-img products" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Aplicacion de uñas Acrílico </h5>
                           <p class="card-text price">$ 250.00</p>
                          <p class="card-text descript">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-6">
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="assets/images/news_st3.png" class="card-img products" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title ">Tratamiento IBX endurecedor</h5>
                        <p class="card-text price">$ 500.00</p>
                        <p class="card-text descript">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="assets/images/news_st4.jpg" class="card-img products" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Esmaltado Francés</h5>
                         <p class="card-text price">$ 100.00</p>
                        <p class="card-text descript">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-6">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="assets/images/news_st5.jfif" class="card-img products" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title ">Esmaltado de Gel</h5>
                      <p class="card-text price">$ 100.00</p>
                      <p class="card-text descript">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-6">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="assets/images/news_st6.jpg" class="card-img products" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Decorado de Uñas</h5>
                       <p class="card-text price">$ 100.00</p>
                      <p class="card-text descript">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>

          <section class="scndrow">

          </section>

      </div>
  </section>
</body>
