<body>
  <section>
      <div class="imgbg">
          <img src="assets/images/newsbg.png" alt="" class="newsbg">
      </div>
      <div class="container">
          <div class="row"><h2>News</h2></div>
          <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6" *ngFor="let news of newss">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img [src]="news.newsPhoto" class="card-img products" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h6 class="card-title ">{{news.title}}</h6>
                          <p class="card-text price">{{news.price | currency }}</p>
                          <p class="card-text descript">{{news.description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          

          <section class="scndrow">

          </section>

      </div>
  </section>
</body>
