<body>
  <div class="container mb-5">
    <div class="card mt-5">
      <h1 class="card-header" style="text-align: center;">Thank You for Registering</h1>
      <div class="card-body mx-auto">
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
        </div>
        <div class="imgs">
          <img src="assets/images/verify_email.png" class="card-img-top" style="width: 100%;" alt="" srcset="">
        </div>
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.sendEmailVerify()">
            <i class="fas fa-redo-alt"></i>
            Resend Verification Email
          </button>
        </div>

        <div class="redirectToLogin mt-5 " style="text-align: center;">
          <span>Go back to?<a class="redirect" routerLink="/sign-in"> Sign in</a></span>
        </div>


      </div>
    </div>
  </div >
</body>



<!-- <div class="displayTable">
    <div class="displayTableCell">

      <div class="authBlock">
        <h3>Thank You for Registering</h3>

        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
        </div>


        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Resend Verification Email
          </button>
        </div>

      </div>

      <div class="redirectToLogin">
        <span>Go back to?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
      </div>

    </div>
  </div>
 -->
