<body>
    <div class="firstbg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mx-auto my-auto">
                    <div class="text1">
                        <div class="row">
                            <h2 ><span class="nails">Nails </span> for everyone.</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 w-100 mr-1">
                                <button type="button" class="btn btn-outline-primary"><a class="w-100" routerLink="/meeting">Book Appointment</a></button>
                                
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 w-100">
                                <button type="button" class="btn btn-outline-primary mr-1"><a class="w-100" routerLink="/news">What's new?</a></button>
                                
                            </div>
                        </div>
                               
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="img1">
                        <img src="assets/images/bg-nail.png" alt="imageintro" class="img rounded">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>