<body>
    <div class="firstbg">
        <div class="container">
            <div class="row w-100">
                <div class="col-sm-6 mx-auto my-auto">
                    <div class="text1">
                        <div class="row ">
                            <h2 ><span class="nails">Nails </span> for everyone.</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
                        </div>
                        <div class="row w-100">

                            <div class="col-sm">
                                <a class="site-btn" routerLink="/meeting" role="button">Book Appointment</a>
                            </div>
                            <div class="col-sm">
                                <a class="site-btn sb-c2" routerLink="/staff" role="button">Meet Our Team</a>
                            </div>
                        </div>
                               
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="img1">
                        <img src="assets/images/bg-nail.png" alt="imageintro" class="img rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="coinfo">
        <div class="container">
            <div class="row">
                <div class="col-sm square">
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <img src="assets/images/user.png" alt="user" class="iconimg">
                        </div>
                    </div>
                    <div class="row">
                        <h5 class="h5">Experiencia y Calidad</h5>
                            <p>
                                Somos un equipo armonioso de 
                                profesionales que busca la excelencia e 
                                innovación constante en servicios
                                integrales de belleza y bienestar. 
                                Consentimos a nuestros clientes y 
                                les damos una verdadera experiencia,
                                en instalaciones bellas e impecables.
                            </p>
                    </div>
                </div>
                <div class="col-sm square">
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <img src="assets/images/nail.png" alt="nail" class="iconimg">
                        </div>
                    </div>
                    <div class="row">
                        <h5 class="h5">Salud y Belleza</h5>
                            <p>
                                Ponemos a su disposición una amplia 
                                gama de productos enteramente
                                eficaces y naturales conscientes de 
                                ser garantes del cuidado de nuestro 
                                medio ambiente y su salud.
                            </p>
                    </div>
                </div>
                
                <div class="col-sm square">
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <img src="assets/images/polish.png" alt="polish" class="iconimg">
                        </div>
                    </div>
                    <div class="row">
                        <h5 class="h5">Proyección</h5>
                            <p>Tenemos una visión contemporánea y de vanguardia;
                            un servicio de calidad que destaca 
                            la importancia que le damos a su imagen personal
                            e individual y la postura moderna, 
                            como asimismo, de proyección por cuidar y
                            conservar nuestro entorno ecológico.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="testimony">
        <div class="firstbg">
            <div class="container">
                <div class="row">
                    <div class="test">
                    <h2>Testimonios</h2>

                        <div class="carousel_wrapper">
                        <a href="#" class="prev1"></a><a href="#" class="next1"></a>
                        <div>
                          <ul class="carousel1">
                          <li>
                            <p><em>Los diseños de uñas estan hermosos, recomiendo POLISOFT totalmente, gracias por la atencion que me brindan</em></p>
                          </li>
                          <li>
                            <p><em>El poder crear mi propio diseño de uñas es increible, muy buen servicio de los empleados.</em></p>
                          </li>
                                <li>
                            <p><em>Me encantaron mis uñas, super recomendable, el trato super bien y muy amable!</em></p>
                          </li>
                                <li>
                            <p><em>100% recomendado para la aplicacion de uñas.Te hacen sentir como una reina. GRACIAS POLISOFT!!</em></p>
                          </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->
</body>