<body class="bg-light p-3">
    <main class="container">
        <div class="card border-0 shadow-sm p-md-5 p-3">
            <section class="row text-center">
                <h2 class="col-12 p-1 pt-4">
                    Thanks for booking with us!
                </h2>
                <img class="p-3 text-center mx-auto" src="../../../assets/images/congratulation.png" style="width: 30%;">
            </section>
            <section class="row">
                <p class="mx-auto text-center w-50">
                    Thank you for booking in POLISOFT, our specialty is for you to feel confident about what  designs you will feel comfortable with and also to make everything what you were waiting for! See you!<br>
                    If you want to book another appointment press the Book Appointment button.<br>
                    Don't miss the latest news! press the News button! 
                    
                </p>
        
                <h4 class="col-12 mx-auto text-right">
                    <span class="nails">Nails </span> for everyone.
                </h4>
            </section>
            <section class="row p-5">
                <div class="col-md-6">
                    <a routerLink="/meeting" routerLinkActive="active" class="btn btnPrimary p-2 m-1 rounded-pill w-100">Book Appointment</a>
                </div>
                <div class="col-md-6">
                    <a routerLink="/news" routerLinkActive="active" class="btn btnPrimary p-2 m-2 rounded-pill w-100">News</a>
                </div>
            </section>
            <section class="row">
                <small class="mx-auto p-3">
                    you don't have an account? 
                    <a routerLink="/sign-up" routerLinkActive="active" class="p-2 text-primary">Sign Up</a>
                </small>
            </section>
        </div>
    </main>
</body>