<div class="w-100 col-sm-12 p-0">
    <nav class="d-md-block sidebar w-100">
      <div class="sidebar-sticky">
        <ul class="pt-md-5 pb-md-5 nav flex-column">
  
          <li class="al nav-item card border-white shadow-sm rounded m-2">
            <a class="nav-link active" (click)="sendTo('dashboard')"><img class="py-2" src="../../../../assets/images/user1.png">
              Admin Profile
            </a>
          </li>
          <li class="al nav-item card border-white shadow-sm rounded m-2">
            <a class="nav-link" (click)="sendTo('update')"><img class="py-2" src="../../../../assets/images/edit.png" alt="" srcset="">
              Update Dashboard
            </a>
          </li>
          <li class="al nav-item card border-white shadow-sm rounded m-2">
            <a class="nav-link" (click)="sendTo('userlist')"><img class="py-2" src="../../../../assets/images/user-list.png" alt="" srcset="">
              User List
            </a>
          </li>
          <li class="al nav-item card border-white shadow-sm rounded m-2">
            <a class="nav-link" (click)="sendTo('appointments')"><img class="py-2" src="../../../../assets/images/user-appointment.png" alt="" srcset="">
              Appointments
            </a>
          </li>
          <li class="al nav-item card border-white shadow-sm rounded m-2">
            <a class="nav-link" (click)="sendTo('news')"><img class="py-2" src="../../../../assets/images/user-appointment.png" alt="" srcset="">
              News
            </a>
          </li>
          <li class="al nav-item card border-white shadow-sm rounded m-2">
            <a class="nav-link" (click)="logout()"><img class="py-2" src="../../../../assets/images/signout.png" alt="" srcset="">
              Sign out
            </a>
          </li>

  
        </ul>
      </div>
    </nav>
  </div>