<body>
    <section>
        <div class="container">
            <section>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="../../../../assets/images/side-bg.png" alt="sidebackground" class="sidebg">
                    </div>
                    <div class="login p-5 col-6">
                        <div class="loginform mx-auto">
                            <form [formGroup]="emailform">
                              <h1 style="text-align: center;">Sign In</h1>
                              <!-- ----------Email address------- -->
                                <div class="form-group mx-auto mt-3">
                                    <small class="mt-0 mb-1 text-danger" *ngIf="error">{{error}}</small><br>
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input class="form-control" 
                                        formControlName="email" 
                                        type="text" 
                                        placeholder="Email">

                                <small class="mt-0 mb-1 text-danger" *ngIf="email.touched && email.errors">
                                    <div *ngIf="email.errors.email && !email.errors.required">Please enter a valid Email.</div>
                                    <div *ngIf="email.errors.required">An Email is required.</div>
                                </small>
                                </div>
                                <!-- ---------------Password---------------- -->
                                <div class="form-group mt-3">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input formControlName="password" 
                                        class="form-control" 
                                        type="password" 
                                        placeholder="Password">
                                    <small class="mt-0 mb-1 text-danger" *ngIf="password.touched && password.errors">
                                        <div *ngIf="password.errors.minlength">Password should be minimum 6 characters.</div>
                                        <div *ngIf="password.errors.required">A Password is required is required.</div>
                                    </small>
                                </div>
                            </form>


                            <div class="formGroup mt-3">
                                <button id="login-btn" class="m-3 btn btnPrimary" (click)="login('email')">Login</button>
                            </div>

                            <div class="footerinfo mt-2" style="text-align: center;">
                                <span class="footerlink" routerLink="/forgot-password">Forgot your password?</span>
                            </div>
                            <div class="redirectToLogin mt-2" style="text-align: center;">
                                <span>Don't have an account?<a class="redirect" routerLink="/register-user"> Sign Up</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</body>
